/.settings/*

/html-template/*
/bin-debug/*
/deployed/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings
setEnv.sh

Icon
Thumbs.db
.DS_Store
asd-config.xml